@model ClassesScheduler.Models.ClassSchedule

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClassSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemestarSchedule.YearOfStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemestarSchedule.YearOfStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassromCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassromCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekDay)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
