@model IEnumerable<ClassesScheduler.Models.ClassSchedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Classes Schedules</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemestarSchedule.YearOfStudy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassromCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeekDay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SemestarSchedule.YearOfStudy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassromCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeekDay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
